:root {
    --colorPrimary: hsl(217, 54%, 11%);
    --colorSecondary: hsl(216, 50%, 16%);
    --colorTertiary: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --softblue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
}

html {
    /*62.5% of 16px = 10px*/
    font-size: 62.5%;
    
}

body {
    background: var(--colorPrimary);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;

}

/* THE CARD IMAGE SECTION */
.container {
    width: 320px;
    height: 520px;
    background-color: var(--colorSecondary);
    border-radius: 1.5rem;
}

.card-image--container {
    width: 320px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image {
    width: 86%;
    height: 93%;
    border-radius: 1rem;
    margin-top: 1.3rem;
}

/* TEXT */
h1{
    color: var(--white);
    font-weight: 600;
}

p{
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--softblue);
    margin-top: 1rem;
}

.description {
    margin: 0 2.1rem;
}

.price {
    color: var(--cyan);
    font-weight: 400;
}

/* SPACING THE TEXT */
.spaced-text {
    display: flex;
    justify-content: space-between;
}

/* ICONS */
.fa-minus {
    background-color: var(--colorTertiary);
    width: 100%;
    height: 1px;
}